[Unit]
Description="build argocd-helm-secrets daily at 1:35am"

[Timer]
OnCalendar=*-*-* 01:35:00
Unit=argocd-helm-secrets.service

[Install]
WantedBy=timers.target
